// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.container-articles {
  text-align: left;
  padding: 24px 40px;
}

.container-articles a {
  text-decoration: none;
  color: #1c7bc9;
}

.container-articles a:hover {
  text-decoration: underline;
  color: #055ca3;
}

.container-articles span {
  font-size: 40px;
}

.container-articles p {
  color: rgb(60, 60, 60);
}

form label {
  font-size: 18px;
  font-weight: bold;
}

form input[type=text] {
  width: 400px;
  padding: 8px 16px;
}

form input:focus {
  outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  border: 1px solid rgba(0, 203, 235, .5);
  box-shadow: 0px 0px 1px 1px rgba(0, 203, 235, .3);
}

form textarea {
  padding: 8px 16px;
  width: 500px;
  height: 100px;
  background-color: #f5e7d3;
}

form textarea:focus {
  outline-style: none !important;
  outline: none !important;
  outline: 0 !important;
  border: 1px solid rgba(0, 203, 235, .5);
  box-shadow: 0px 0px 1px 2px rgba(0, 203, 235, .3);
}

form input[type=submit] {
  padding: 4px 8px;
}

.link-sm {
   font-size: 18px;
 }

